@use "../../../assets/styles/variable/global/globalStyle" as *;

.textLink {
  font-weight: 600;
  font-size: 18px;

}

.hover {
  display: block;
  position: relative;
  
  &::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: $primaryColor;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: width .3s ease;

  }
  &:hover::after {
    left: 0;
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .textLink {
    font-size: 1rem;
    padding: 0px;
  }
}